<div class="card mt-4">
    <div class="card-header bg-dark text-white">
        <h5><i class="fas fa-char-bar"></i> Stats</h5>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fas fa-images"> Total Images: {{sidebar.stats.images}}</i>
            </li>
            <li class="list-group-item">
                <i class="fas fa-comments"> Total Comments: {{sidebar.stats.comments}}</i>
            </li>
            <li class="list-group-item">
                <i class="fas fa-eye"> Total Views: {{sidebar.stats.views}}</i>
            </li>
            <li class="list-group-item">
                <i class="fas fa-heart"> Total Likes: {{sidebar.stats.likes}}</i>
            </li>
        </ul>
    </div>
</div>